/**
 * Genericons
 *
 */
.mp6 .wrap > h2:before {
    content: "\f181"; /* `slideshow` dashicon glyph */
    font: normal 32px/1 'Dashicons';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    display: none; /*display: inline-block;*/
}

.link-ftf-forum::before,
.link-ftf-web::before,
.link-ftf-github::before,
.link-ftf-review::before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 1.5em/1 'Genericons';
    vertical-align: middle;
    padding-right: 0.25em;
}

.link-ftf-forum::before { content: '\f108'; /* `chat` genericon gylph */ }
.link-ftf-web::before { content: '\f409'; /* `home` genericon gylph */ }
.link-ftf-github::before { content: '\f200'; /* GitHub logo genericon gylph */ }
.link-ftf-review::before { content: '\f205'; /* WordPress genericon gylph */ }
.link-ftf-contact::before { content: '\f50c'; /* WordPress genericon gylph */ }